.teacher-hat {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("/image.png") no-repeat center center;
  background-size: contain;
}

.hobbies-container,
.profession-container {
  margin-top: 48px;
}
